{% extends "base.html" %}
{% block title %} {{ news[1] }} {% endblock %}

{% block content %}
    <h1 class="text-center">Солофьев новости</h1> <br>
    <h3>{{ news[1] }}</h3>
    <hr>
    <p style="font-size: 20px">{{ news[2] }}</p>
    <hr>
    <p class="text-secondary">Дата создания статьи: {{ news[3] }}</p>
    {#    <p class="btn btn-danger">Удалить статью</p>#}
    {#    <form method="post" novalidate>#}
    {#        {{ form.submit(class="btn btn-danger") }}#}
    {#    </form>#}

    <a href="/news_detail/{{ news[0] }}/delete" class="btn btn-danger"> Стереть грехи </a>
    <a href="/news_detail/{{ news[0] }}/edit" class="btn btn-success"> Редактировать </a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}